<div class="columns" ng-controller="EquipamentosController as equipCtrl">
  <div class="column">
    <div class="field is-centered has-text-centered">
      <label class="label">Você quer fazer exercícios em casa, certo? Prefere exercícios com ou sem equipamentos?</label>
      <div class="control">
        <div class="field is-grouped has-addons-centered has-addons">
          <div class="control">
            <button class="button is-danger" ng-click="equipCtrl.equipamentoEscolhido(true)" 
            ui-sref="spotify">Com equipamentos</button>
          </div>
          <div class="control">
           <button class="button is-light" ng-click="equipCtrl.equipamentoEscolhido(false)" 
           ui-sref="spotify">Sem equipamentos</button>
         </div>
       </div>
       <div class="field is-grouped has-addons-centered has-addons">
        <div class="control">
          <button class="button is-light" ui-sref="local">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>