<link rel="stylesheet" href="src/pages/common/common.css">
<div class="columns" ng-controller="AcademiaController as academiaCtrl">
  <div class="column">
      <div class="steps-custom">
          <ul class="steps is-small is-narrow is-centered is-hollow">
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Objetivo</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Local</p>
                </div>
              </li>
              <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Spotify</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Resultado</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
              </li>
            </ul>
          </div>
    <div class="field is-centered has-text-centered">
      <label class="label title is-2">Qual sua área de preferência para buscar academias?</label>
      <div class="control centered-select">
        <div class="select">
          <select ng-options="local as local.label for local in academiaCtrl.locais track by local.id" 
          ng-model="zona" 
          ng-change="academiaCtrl.localEscolhido(zona)">
          <option value="" disabled selected>Escolha seu local de academia</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field has-addons-centered has-addons">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" ng-click="academiaCtrl.jaTenhoAcademia($event)">
          Já tenho uma academia
        </label>
      </div>
    </div>
    <div class="field is-grouped has-addons-centered has-addons">
      <div class="control" ng-if="academiaCtrl.selectedGym">
        <button class="button is-danger" ui-sref="spotify">Continuar</button>
      </div>
      <div class="control">
        <button class="button is-light" ui-sref="local">Voltar</button>
      </div>
    </div>
  </div>
</div>
