<link rel="stylesheet" href="src/pages/common/common.css">
<div class="columns" ng-controller="AcademiaController as academiaCtrl">
  <div class="column">
    <div class="field is-centered has-text-centered">
      <label class="label">Qual sua área de preferência para buscar academias?</label>
      <div class="control centered-select">
        <div class="select">
          <select ng-options="local as local.label for local in academiaCtrl.locais track by local.id" 
          ng-model="zona" 
          ng-change="academiaCtrl.localEscolhido(zona)">
          <option value="" disabled selected>Escolha seu local de academia</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field has-addons-centered has-addons">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" ng-click="academiaCtrl.jaTenhoAcademia($event)">
          Já tenho uma academia
        </label>
      </div>
    </div>

    <div class="field is-grouped has-addons-centered has-addons">
      <div class="control" ng-if="academiaCtrl.selectedGym">
        <button class="button is-danger" ui-sref="spotify">Continuar</button>
      </div>
      <div class="control">
        <button class="button is-light" ui-sref="local">Voltar</button>
      </div>
    </div>
  </div>
</div>
