<link rel="stylesheet" href="src/pages/common/common.css">
<div class="columns" ng-controller="LocalController as localCtrl">
  <div class="column">
      <div class="steps-custom">
          <ul class="steps is-small is-narrow is-centered is-hollow">
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Objetivo</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Local</p>
                </div>
              </li>
              <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Spotify</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Resultado</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
              </li>
            </ul>
          </div>
    <div class="field is-centered has-text-centered">
      <label class="label title is-2">Você prefere fazer exercícios em casa ou ir para uma academia?</label>
      <div class="control">
        <div class="field is-grouped has-addons-centered has-addons">
          <div class="control">
            <button class="button is-danger" ng-click="localCtrl.localEscolhido('academia')" ui-sref="academia">Academia</button>
          </div>
          <div class="control">
            <button class="button is-danger" ng-click="localCtrl.localEscolhido('casa','equipamento')" ui-sref="equipamento">Casa</button>
          </div>
        </div>
        <div class="field is-grouped has-addons-centered has-addons">
          <div class="control">
            <button class="button is-light" ui-sref="objetivo">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>