<link rel="stylesheet" href="src/pages/common/common.css">
<div class="columns" ng-controller="ObjetivoController as objetivosCtrl">
  <div class="column">
    <div class="steps-custom">
      <ul class="steps is-small is-narrow is-centered is-hollow">
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content is-divider-content">
              <p class="is-size-6">Objetivo</p>
            </div>
          </li>
          <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content is-divider-content">
              <p class="is-size-6">Local</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content is-divider-content">
              <p class="is-size-6">Spotify</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content is-divider-content">
              <p class="is-size-6">Resultado</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
          </li>
        </ul>
      </div>
    <div class="field is-centered has-text-centered">
      <label class="label title is-2">Qual seu objetivo principal?</label>
      <!-- <label class="label">{{objetivosCtrl.texto}}</label> -->
      <div class="control centered-select">
        <div class="select">
          <select ng-options="objetivo as objetivo.label for objetivo in objetivosCtrl.objetivos track by objetivo.id"
            ng-model="objetivo" ng-change="objetivosCtrl.objetivoEscolhido(objetivo)">
            <option value="" disabled selected>Escolha seu objetivo</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped has-addons-centered has-addons">
      <div class="control" ng-if="objetivosCtrl.selectedGoal">
        <button class="button is-danger" ui-sref="local">Continuar</button>
      </div>
      <div class="control">
        <button class="button is-light" ui-sref="home">Voltar</button>
      </div>
    </div>
  </div>
</div>