
.musics > .column {
    justify-content: flex-end;
    display: flex;
}

.musics > .column:not(.selected):hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 1s;
}

.musics > .column > .image {
    flex-basis: 100%;
}

.selected-music {
    width: 5%;
    position: absolute;
    transition: all linear 10s;
    z-index: 1;
}

.pulse {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 49%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(124, 116, 79, 0.8);
    animation: pulse 1s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(124, 116, 79, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(124, 116, 79, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(124, 116, 79, 0);
    }
    200% {
      -webkit-box-shadow: 0 0 0 0 rgba(124, 116, 79, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(124, 116, 79, 0.8);
      box-shadow: 0 0 0 0 rgba(124, 116, 79, 0.8);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(124, 116, 79, 0);
        box-shadow: 0 0 0 10px rgba(124, 116, 79, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(124, 116, 79, 0);
        box-shadow: 0 0 0 0 rgba(124, 116, 79, 0);
    }
    200% {
      -webkit-box-shadow: 0 0 0 0 rgba(124, 116, 79, 0);
    }
  }