<link rel="stylesheet" href="src/pages/common/common.css">
<link rel="stylesheet" href="src/pages/spotify/spotify.css">
<div class="columns" ng-controller="SpotifyController as spotifyCtrl">
  <div class="column">
      <div class="steps-custom">
          <ul class="steps is-small is-narrow is-centered is-hollow">
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Objetivo</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Local</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Spotify</p>
                </div>
              </li>
              <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                  <p class="is-size-6">Resultado</p>
                </div>
              </li>
              <li class="steps-segment">
                <span class="steps-marker"></span>
              </li>
            </ul>
          </div>
    <div class="field is-centered has-text-centered">
      <label class="label title is-3 titulo-pergunta">Que tal uma música para acompanhar? Temos playlists do Spotify pra você!</label>
      <div class="control">
        <div class="field is-grouped has-addons-centered has-addons">
          <div class="control">
            <button class="button is-danger" ng-click="spotifyCtrl.choosePlaylist=!spotifyCtrl.choosePlaylist">Escolher playlist</button>
          </div>
          <div class="control">
           <button class="button is-light" ui-sref="resultado">Não gosto de música</button>
         </div>
       </div>
       <div class="field is-grouped has-addons-centered has-addons">
        <div class="control">
          <button class="button is-light" ui-sref="{{spotifyCtrl.routeBack}}">Voltar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="musics field is-grouped has-addons-centered has-addons" ng-if="spotifyCtrl.choosePlaylist">
    <div ng-class="{ 'selected': $index == spotifyCtrl.selectedPlaylistIndex-1 }" class="column" ng-repeat="plcover in spotifyCtrl.playlists">
      <img class="selected-music sample-show-hide" ng-if="$index == spotifyCtrl.selectedPlaylistIndex-1" ng-src="./img/success.png">
      <figure class="image is-square pulse">
        <img ng-src="./img/{{plcover}}" 
        ng-click="spotifyCtrl.coverClicked($index)" 
        class="is-rounded"/>
      </figure>
    </div>
  </div>
  <div class="field is-centered  has-text-centered" ng-if="spotifyCtrl.playlistSelected">
    <div class="field is-grouped has-addons-centered has-addons">
        <div class="control">
          <button class="button is-danger" ui-sref="resultado">Confirmar</button>
        </div>
    </div>
  </div>
</div>
</div>