<div class="columns" ng-controller="ResultadoController as resultCtrl">
  <div class="column centered-select">
    <div class="field is-centered has-text-centered">
      <label class="label">Seus resultados</label>
      <div ng-if="resultCtrl.local=='casa' && resultCtrl.equipamentos">
        <div ng-repeat="equipamento in resultCtrl.equipamentos">
          <h1>{{equipamento.name}}</h1>
        </div>
      </div>
      <div ng-if="resultCtrl.local=='academia'">
        <div ng-if="resultCtrl.zonaAcademia==false">Você já tem sua academia! Que ótimo!</div>
        <div ng-repeat="academia in resultCtrl.academias">
          <h1>{{academia.name}}</h1>
        </div>
      </div>
      <div>
        <div ng-repeat="exercicio in resultCtrl.exercicios">
          <h1>{{exercicio.name}}</h1>
        </div>
      </div>
      <div ng-if="resultCtrl.playlist">
        <div ng-repeat="artista in resultCtrl.artistas">
          <h1>{{artista.name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>