<link rel="stylesheet" href="src/pages/resultado/resultado.css">
<div class="columns" ng-controller="ResultadoController as resultCtrl">
  <div class="column centered-select">
    <div class="field is-centered has-text-centered">
      <label class="label">Seus resultados</label>
      Primeiramente, você vai precisar desses equipamentos para fazer os exercicios:
      <div ng-if="resultCtrl.local=='casa' && resultCtrl.equipamentos" class="equipamentos">
        <div ng-repeat="equipamento in resultCtrl.equipamentos" class="equipamentos">
          <figure class="image equipamento">
            <img ng-src="{{equipamento.image}}">
            <div>
              <figcaption ><a href="{{equipamento.link}}">{{equipamento.name}}</a></figcaption>
              <p>R$1000,00</p>
            </div>
          </figure>
        </div>
      </div>
      <div ng-if="resultCtrl.local=='academia'">
        <div ng-if="resultCtrl.zonaAcademia==false">Você já tem sua academia! Que ótimo!</div>
        <div ng-repeat="academia in resultCtrl.academias">
          <h1>{{academia.name}}</h1>
        </div>
      </div>
      <div>
        <div ng-repeat="exercicio in resultCtrl.exercicios">
          <h1>{{exercicio.name}}</h1>
        </div>
      </div>
      <div ng-if="resultCtrl.playlist">
        <div ng-repeat="artista in resultCtrl.artistas">
          <h1>{{artista.name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>