<div class="columns">
  <div class="column">
  <div class="field is-centered has-text-centered">
    <label class="label">Qual seu objetivo principal?</label>
    <div class="control">
      <div class="select">
        <select ng-options="objetivo as objetivo.label for objetivo in objetivos track by objetivo.id" ng-model="objetivo" ng-change="$storage.objetivo=objetivo ; selectedGoal='true'">
           <option value="" disabled selected>Escolha seu objetivo</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped has-addons-centered has-addons">
    <div class="control" ng-if="selectedGoal">
      <button class="button is-danger" ui-sref="local">Continuar</button>
    </div>
    <div class="control">
      <button class="button is-light" ui-sref="home">Voltar</button>
    </div>
  </div>
</div>
</div>
